header {
    background-color: rgba(78, 65, 65, 0.596);
    padding: 30px;
    color: white;
}


.Informations{
    cursor: pointer;
    display: flex;
    gap: 50px;
    font-size: large;

}

html{
    background-color: black;
}

.Name{
    justify-content: center;
    display: flex;
    text-align: center;
    color: pink;
    padding: 20px;

}

.Age{
    right: 50px;
    font-size: large;
    color: blueviolet;

}
