/* HEADER: Configurações do Header sobre o cabeçalho */

/* Estilo do cabeçalho */

header {
    background-color: rgb(14, 13, 13);
    padding: 0%;
    color: white;
    position: static;
    border: 2px solid rgb(41, 37, 37);
}

/* Estilo para a imagem dentro do cabeçalho */

.Images img{
    display: flex;
    height: 80px;
    width: 100px;
    justify-content: center;
    transform: translate(30px, 10px);
    position: relative;
    left: 70px;
    
}

/* Estilo para a barra de navegação */

.Informations{
    cursor: pointer;
    display: flex;
    gap: 100px;
    font-size: large;
    justify-content: flex-end;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    transition: 1s;
    position: relative; /* Permite alterar a posição de um elemento em relação à sua posição inicial */
    top: -40px; /* Move o texto levemente para cima */
    right: 90px;

}

/* Efeito de hover na barra de navegação */

.Informations a:hover{
    transform: scale(1.2);
    transition: 1s;
}

/* Estilo dos links de navegação */

a {
    text-decoration: none; /* Remove o sublinhado */
    color: rgb(184, 5, 5);
    
}

/* Cor de fundo e transição para o fundo da página */

html{
    background: linear-gradient(to bottom, black, #351804);     
}

/* SEÇÕES PRINCIPAIS: Nome, Carreira, Idade, Descrição */

/* Estilo do nome */

.Name{
    justify-content: flex-start;
    display: flex;
    text-align: center;
    color: rgb(255, 0, 43);
    padding: 20px;
    position: relative;
    top: 100px;
    font-size: larger;
    text-shadow: 1px -1px 0 firebrick, /* Acrescenta sombras do Texto */
    2px -2px 0 firebrick,
    3px -3px 0 firebrick;
    /* deslocamento-x | deslocamento-y | raio-de-desfoque | cor */

}

/* Estilo da carreira */

.Career {
    color: rgb(0, 136, 255);
    display: flex;
    margin-left: 20px;
    justify-content: flex-start;
    font-size: 60px;
    padding: 0%;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 1px -1px 0 rgb(0, 136, 255),
    2px -2px 0 rgb(0, 136, 255);

}

/* Estilo da idade */

.Age{
    left: 30px;
    top: -70px;
    font-size: large;
    color: blueviolet;
    display: flex;
    justify-content: flex-start;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-shadow: 1px -1px 0 blueviolet;


}

/* Estilo da Descrição sobre mim */

.Description{
    color: aliceblue;
    position: relative;
    display: flex;
    padding-left: 30px;
    top: -100px;
    font-size: larger;

}

/* Estilo da Borda de Sobre Mim */

.AboutMe{
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    padding: 10px 200px 10px;
    position: relative;
    display: inline-block;
    border: 3px solid firebrick;
    text-align: center;
    left: 30px;
    background: linear-gradient(to bottom, firebrick, rgb(79, 9, 9));
    transition: 1s;
    cursor: pointer;
    align-items: center;
    top: -100px

}

/* Efeito da hover da Borda */

.AboutMe:hover{
    transform: scale(1.1);        
}

/* Destacando texto forte dentro da descrição */

strong{
    background-color: rgba(255, 0, 0, 0.432);
}

/* Estilo da imagem de DOOM SLAYER (uma imagem que representa) */

/* Estilo da imagem */

.ImagesOfDoomSlayer img{
    height: 910px;
    width: 530px;
    display: flex;
    justify-content: flex-end;
    transition: transform 0.5s ease-in-out;
    position: relative;
    left: 60%;
    top: -570px; /* Margin Top: Define um espaçamento de um objeto ou da propria borda do site, enquanto Top: é raramente usado para posicionar elementos e pouco responsivo*/

}

/* Efeito de hover na imagem do Doom Slayer */

.ImagesOfDoomSlayer img:hover{
    transform: scale(1.1);
    cursor: pointer;
    
}

/* Estilo do título do personagem */

.NameCharacter {
    color: rgb(255, 255, 255); 
    display: inline-block; /* Faz a borda envolver apenas o conteúdo */
    justify-content: flex-end;
    border: 2px solid firebrick;
    padding: 10px 170px;
    position: relative;
    left: 1200px;
    top: -500px;
    background: linear-gradient(to bottom, black, #3a1903);
    transition: 1s;
    cursor: pointer;
    align-items: center;

}

/* Efeito de hover no nome do personagem */

.NameCharacter:hover {
    transform: scale(1.1);
}

/* FAVORITOS (Livros, Filmes, Músicas, Séries) */


/* Estilo para os livros favoritos */

.FavoriteBooks{
    color: aliceblue;
}

/* Estilo para a categoria de livros favoritos */

.FavoriteBooks h2 {
    color: orange;
    text-align: center;
    border: 10px solid  rgb(0, 0, 0);
    padding: 1%;
    background: firebrick;
}

/* Estilo das imagens dentro das seções de livros favoritos */

.ImagesBooks {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    cursor: pointer;
}


/* Efeito de hover nas imagens de livros favoritos*/

.ImagesBooks :hover{
    transition: 1s;
    cursor: pointer;
    transform: scale(1.1);
}


/* Estilo para os filmes favoritos */

.FavoriteMovies {
    color: aliceblue;
}

/* Estilo para a categoria de filmes favoritos */

.FavoriteMovies h2{
    color: orange;
    text-align: center;
    border: 10px solid  rgb(0, 0, 0);
    padding: 1%;
    background: firebrick;
}

/* Estilo das imagens dentro das seções de filmes favoritos */

.ImagesMovies{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

/* Efeito de hover nas imagens de filmes favoritos*/


.ImagesMovies :hover{
    transition: 1s;
    cursor: pointer;
    transform: scale(1.1);
}

/* Estilo para os músicas favoritos */

.FavoriteSongs{
    color: aliceblue;

}

/* Estilo para a categoria de músicas favoritos */

.FavoriteSongs h2 {
    color: orange;
    text-align: center;
    border: 10px solid  rgb(0, 0, 0);
    padding: 1%;
    background: firebrick;

}

/* Estilo das imagens dentro das seções de músicas favoritos */

.ImagesSongs {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    transition: 1s;
}

/* Efeito de hover nas imagens de músicas favoritas */


.ImagesSongs :hover{
    transition: 1s;
    cursor: pointer;
    transform: scale(1.1);
}

/* Estilo para as series favoritos */

.FavoriteSeries {
    color: aliceblue;
}

/* Estilo para a categoria de series favoritos */

.FavoriteSeries h2{
    color: orange;
    text-align: center;
    border: 10px solid  rgb(0, 0, 0);
    padding: 1%;
    background: firebrick;

}

/* Estilo das imagens dentro das seções de series favoritos */

.ImagesSeries{
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    gap: 50px;

}

/* Efeito de hover nas imagens de séries favoritas */



.ImagesSeries img:hover{
    transition: 1s;
    cursor: pointer;
    transform: scale(1.1);

}

.Favorites{
    margin-top: -200px;

}

.Favorites{
    position: relative;
    margin-top: -400px;
}

